# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/creator/questionnaire

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/publikai?schema=public"

# Environment (development/production)
NODE_ENV=development

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
RAZORPAY_APIKEY=rzorpay-payouts-api-key-from-razorpay-x
RAZORPAY_APISECRET=rzorpay-payouts-api-secret-from-razorpay-x
RAZORPAY_SOURCE_FUND_ACCOUNT_NUMBER=razorpay-payouts-source-fund-account-from-razorpay-x

RAZORPAY_PAYMENTS_APIKEY=razorpay-payment-subscriptions-api-key-from-normal-razorpay
RAZORPAY_PAYMENTS_APISECRET=razorpay-payment-subscriptions-api-secret-from-normal-razorpay