fastapi
uvicorn
modal
python-multipart
python-dotenv
numpy
transformers
torch
huggingface_hub
huggingface_hub[hf_transfer]
sentencepiece 
protobuf 
sacremoses 
Pillow 
opencv-python
scipy 
librosa 
soundfile 
torchaudio 
tensorflow 
tqdm 
accelerate
compressed-tensors
pydantic